<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', path='/css/login.css') }}" rel="stylesheet">
</head>
<body>

<h2>Login Form</h2>
        {% if msg %}
			<div class="alert alert-success" role="success">
				{{ msg }}
			</div>
		{% endif %}
		{% for error in errors %}
			<div class="alert alert-danger" role="alert">
		  		{{ error }}
			</div>
		{% endfor %}
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" required>
        
    <button type="submit" id="login">Login</button>
  </div>
  <script src="static/js/login.js"></script>
</body>
</html>
